@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Noto Sans', sans-serif !important;
  /* color: whitesmoke; */
}

#siteIcon {
  font-size: 50pt;
  color: yellowgreen;
}

#siteTitle {
  color: whitesmoke;
}

.custom-form-label {
  font-size: 10pt;
  margin-bottom: 0px;
  color: whitesmoke;
  text-transform: uppercase;
}

.custom-form-input {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
}

.custom-form-input:focus {
  background-color: rgba(255, 255, 255, 0);
}

#bootstrap-override td,
#bootstrap-override th {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
  border: none;
}

.custom-shadow {
  box-shadow: 0.15rem 0.15rem yellowgreen
}

.custom-shadow-2 {
  box-shadow: 0.15rem 0.15rem yellowgreen
}

.custom-bold {
  font-weight: bold;
}

.future-value {
  color: whitesmoke;
}