@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  /* font-family: 'Roboto', sans-serif !important; */
  font-family: 'Noto Sans', sans-serif !important;
}

.box { /* TODO: Delete this class. */
  background-color: aquamarine;
  min-height: 50px;
  border: solid black 2px;
  border-radius: 6px;
}

#siteIcon {
  font-size: 50pt;
  color: yellowgreen;
  text-shadow: 3px 3px black;
}

#siteTitle {
  color: white;
  text-shadow: 3px 3px black;
}

.custom-form-label {
  font-size: 10pt;
  margin-bottom: 0px;
  color: whitesmoke;
  text-transform: uppercase;
}

.custom-form-input {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
}

.custom-form-input:focus {
  background-color: rgba(255, 255, 255, 0);
}