@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  font-family: 'Noto Sans', sans-serif !important;
}

#siteIcon {
  font-size: 50pt;
  color: yellowgreen;
}

#siteTitle {
  color: whitesmoke;
}

.custom-form-label {
  font-size: 10pt;
  margin-bottom: 0px;
  color: whitesmoke;
  text-transform: uppercase;
}

.custom-form-input {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
}

.custom-form-input:focus {
  background-color: rgba(255, 255, 255, 0);
}

#bootstrap-override td,
#bootstrap-override th {
  background-color: rgba(255, 255, 255, 0);
  color: whitesmoke;
  border: none;
}

.custom-shadow {
  box-shadow: 0.15rem 0.15rem yellowgreen
}

.custom-shadow-2 {
  box-shadow: 0.15rem 0.15rem yellowgreen
}

.custom-bold {
  font-weight: bold;
}

.future-value {
  color: whitesmoke;
}

#future-value-header {
  color: whitesmoke;
}

#bootstrap-override input:focus {
  border-color: rgb(173, 255, 47, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(173, 255, 47, 0.6);
  outline: 0 none;
  color: whitesmoke; /* TODO: This style should be elsewhere. */
}

@media (max-width: 567px) {
  #table {
    overflow-x: scroll;
    font-size: 10pt
  }
}

@media (max-width: 375px) {
  #table {
    overflow-x: scroll;
    font-size: 8pt
  }
}

@media (max-width: 300px) {
  #table {
    overflow-x: scroll;
    font-size: 6pt
  }
}